<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin yang dibutuhkan oleh aplikasi -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.JejakHarian"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        tools:replace="android:dataExtractionRules, android:fullBackupContent, android:usesCleartextTraffic">

    <!-- Receiver untuk alarm -->
    <receiver
        android:name=".Alarm"
        android:exported="false" />

    <!-- Aktivitas utama aplikasi -->
    <activity
        android:name=".MainActivity"
        android:exported="true">
        <!-- Intent Filter untuk MAIN dan LAUNCHER -->
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <!-- Intent Filter untuk VIEW file audio dengan berbagai MIME types -->
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="file" />
            <data android:scheme="content" />
            <data android:mimeType="audio/mpeg" />
            <data android:mimeType="audio/wav" />
        </intent-filter>
    </activity>

</application>

    </manifest>